<h1>Тестове завдання</h1>
<hr />


<table class="table table-striped table-bordered table-sm">
  <thead>
    <th>ID</th>
    <th>UserID</th>
    <th>Title</th>
    <th>Body</th>
  </thead>
  <tbody id="tbody">
    <tr>
      <td>{{post.id}}</td>
      <td>{{post.userId}}</td>
      <td>{{post.title}}</td> 
      <td>{{post.body}}</td>
    </tr>
  </tbody>
</table>
<h2>Коментарі</h2>
<table class="table table-striped table-bordered">
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Body</th>
    </thead>
    <tbody id="tbody">
      <tr *ngFor="let comment of comments; let i = index">
        <td>{{comment.id}}</td>
        <td>{{comment.name}}</td>
        <td>{{comment.email}}</td>
        <td>{{comment.body}}</td>
      </tr>
    </tbody>
  </table>